body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    animation: backgroundAnimation 10s infinite alternate;
  }

  h1 {
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  @keyframes backgroundAnimation {
    0% {
      background-color: #f4f4f4;
    }
    50% {
      background-color: #3498db;
    }
    100% {
      background-color: #f4f4f4;
    }
  }

  #content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }

  input:hover,
  input:focus {
    border-color: #3498db;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #2980b9;
  }

  .prevGuess {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
  }

  .leftGuess {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }